<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.mattcarroll.hover">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:allowBackup="false">

    </application>

</manifest>
